#set($layout="/layout/blank.vm")
<!DOCTYPE html>
<html class="full-page">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	</head>
	<body class="full-page">
		something error
	</body>
</html>